/* Style for the demo page, not part of the itemRunner  */
html, body{
    font-size: 14px;
    line-height: 1.4;
}

body, h1 {
    margin: 0;
}

body > header {
    text-align: center;
    background-color: #266D9C;
    color: #fff;
    height: 50px;
    padding-top: 10px;
}

nav {
    height: 50px;
}

nav > button {
    margin: 0 3px
}

nav > div {
    float: left;
}

section, nav {
    width: 48%;
    float: left;
    margin: 5px 1% ;
}

section {
    background-color: #266D9C;
    color: #fff;
}

section h2 {
    margin: 5px
}

section > div {
    margin: 5px;
    background-color: #fff;
    color: #222;
    min-height: 400px;
}

#output {
    padding: 5px;
    background-color: #555;
    color: #fff;
    overflow-y: auto;
    max-height: 400px;
}

section header {
    position: relative
}

.clear-output, .themes {
    position: absolute;
    right: 10px;
    top: 5px;
}
.clear-output a {
    color: #fff
}
