.sts-scope .sts-parccInchRuler-container .sts-title-bar {
  display: none !important; }
.sts-scope .sts-parccInchRuler-container .sts-content {
  border: none !important;
  background: rgba(231, 230, 227, 0.75) !important;
  padding: 0 !important; }
  .sts-scope .sts-parccInchRuler-container .sts-content img {
    display: block;
    border: 1px #ccc solid !important; }
.sts-scope .sts-parccInchRuler-container [class*=" sts-handle-"]:not(.sts-handle-move), .sts-scope .sts-parccInchRuler-container [class^="sts-handle-"]:not(.sts-handle-move) {
  display: block !important; }

/*# sourceMappingURL=inch-ruler.css.map */
