/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
.tao-passage-container {
    width: 100%;
    margin: 20px 0;
    padding : 5px;
    .passage {
        position:relative;
        min-height: 100px;
        margin : 10px 0;
    }
    .passage240 .frame {height:240px;} 
    .passage440 .frame {height:440px;}
    .passage540 .frame {height:540px;}
    .frame { 
        padding: 0;
        width: 100%;
        .slidee { margin: 0;}
    }
    .passage-scrolling {
        position:relative;
        border:solid 1px #CCC;
    }
    .passage-scrolling .passage-content {
        position: relative; padding:1rem;
    }
    /*tab style*/
    ul.passages-tab-navigation{
        box-sizing: border-box;
        width:100%;
        line-height: 20px;
        padding:0;
        margin:0;
        list-style: none;
        border-bottom:1px solid #DDD;
        &:before{
            content:""; display:table;
        }
        &:after{
            content:""; display:table;
            clear:both;
        }
        li {
            margin-bottom:-1px;
            float:left;
            position: relative;
            a {
                display: block;
                padding: 8px 12px;
                border-width: 1px 1px 0px;
                border-style: solid;
                border-color: transparent;
                -moz-border-top-colors: none;
                -moz-border-right-colors: none;
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                border-image: none;
                color: #1D8ACB;
                text-decoration: none;
                border-radius: 4px 4px 0px 0px;
                text-shadow: 0px 1px 0px white;
                cursor:pointer;
                outline: 0px none;
                &:focus {
                    border-color: #DDD;
                    border-style: dashed;
                    color: #0B5F90 !important;
                }
            }
            &.passages-tab-active a{
                border-color: #DDD #DDD transparent;
                color: #666;
                background: white;
                cursor:default;
            }
            &:not(.passages-tab-active) a:hover {
                border-color: #DDD;
                background: #F1F1F1;
                color: #0B5F90;
                outline: 0px none;
                margin-bottom: 1px;
                padding-bottom: 7px;
            }
        }
        & > li:nth-child(n+2) > a {
            margin-left: 3px;
        }
    }
}