/* Line Reader */
.lr-class {
    position:absolute;
}
.lr-top {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.55);
    pointer-events:none;
    z-index:1000;
    overflow:hidden;
}
.lr-bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.55);
    pointer-events:none;
    z-index:1000;
    overflow:hidden;
}

