﻿.td-scroller {
    position:absolute;
    background-color:#eaeaea;
    border:thin solid #f0f0f0;
    border-radius:6px;
    padding:0;
    color:black;
    overflow:hidden;
    display:none;
}
.td-vertical {
    top:0;
    bottom:0;
    right:0; /* Add attachment side - TODO */
    width:12px;
    box-shadow:1px 1px 2px 0px #606060 inset;
}
.td-arrow {
    position:absolute;
    width:10px;
    height:24px;
    left:1px;
    border-radius:5px;
    border:thin none #888;
    background-color:#888;
    cursor:pointer;
}
.td-up-arrow {
    top:0;
    background-position-x:-2.5px;
    box-shadow:1px 1px 1px 1px #333, 3px 1px 1px 0 rgba(254,250,240,.8); /* #fefaf1 */
}
.td-down-arrow {
    bottom:0;
    background-position-x:-67.5px;
    box-shadow:1px 1px 1px 1px #333, 3px 1px 1px 0 rgba(254,250,240,.8); /* #fefaf1 */
}
.td-bar-page {
    position:absolute;
    background-color:transparent;
    border:thin none transparent;
    width:100%;
    overflow:hidden;
}
.td-thumb {
    position:absolute;
    width:6px;
    border-radius:3px;
    height:64px;
    border:thin none #888;
    background-color:#888;
    left:3px;
    cursor:pointer;
    box-shadow:1px 1px 1px 1px #333, 3px 1px 1px 0 #fefaf1 inset;
}
