﻿table.treetable tr.visited {
	background-color:lightgoldenrodyellow;
	color:navy;
}

td {
	border-left:thin none navy;
}

table.treetable tr.current {
	background-color:navy;
	color:lightgoldenrodyellow;
}

.order {
	text-align:right;
	padding-right:32px;
}
