﻿.td-header-dark {
    background-color:#344759;
    box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.9);
    color:white;
}
.td-button-primary {
    border-color:  #70547d;
    background-color:#72547d !important;
    color:  #ffffff;
    /*font-size: 18px;*/ /* Approximation due to font substitution */
    transform: scaleY(1.0002); /* width and height properties ommitted due to transform */
}
    .td-button-primary:focus {
        border-width:1px;
        border-color:#70547d;
        border-style:solid;
        background-color:#72547d !important;
        box-shadow:0px 0px 0.85px 4.15px #4297fe;
        width:165px;
        height:39px;
        outline:none;
    }
    .td-button-primary:active {
        background-color:#005ac6;
        outline:none;
    }
    .td-button-primary:hover {
        background-color:#95799f !important;
        text-decoration:underline !important;
        transform:scaleY(1.0001); /* width and height properties ommitted due to transform */
    }
    .td-button-primary.td-active {
        background-color:#005ac6;
    }
        .td-button-primary.td-active:hover {
            border-width:1px;
            border-color:#4297fe;
            border-style:solid;
            background-color:#4297fe;
            width:163px;
            height:36px;
        }
    .td-button-primary:disabled {
        border-width:1px;
        border-color:#e2e2e2;
        border-style:solid;
        background-color:#e2e2e2;
        color:#464646;
        width:163px;
        height:36px;
        transform:scaleY(1.0012); /* width and height properties ommitted due to transform */
    }
.td-button-global {
    background-color: #112131;
    color: #ffffff;
    font-size: 0.8em; /* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
    transform: scaleY(1.0002); /* width and height properties ommitted due to transform */
}
    .td-button-global:focus {
        border-width:1px;
        border-color:#112131;
        border-style:solid;
        background-color:#112131;
        box-shadow:0px 0px 0.85px 4.15px #4297fe;
        width:100px;
        height:25px;
        outline:none;
    }
    .td-button-global:active {
        background-color:#005ac6;
        outline:none;
    }
    .td-button-global:hover {
        background-color:#44596f;
        text-decoration:underline;
        transform:scaleY(1.0001); /* width and height properties ommitted due to transform */
    }
    .td-button-global.td-active {
        background-color:#005ac6;
    }
        .td-button-global.td-active:hover {
            border-width:1px;
            border-color:#4297fe;
            border-style:solid;
            background-color:#4297fe;
            width:98px;
            height:22px;
            outline:none;
        }
    .td-button-global:disabled {
        border-width:1px;
        border-color:#e2e2e2;
        border-style:solid;
        background-color:#e2e2e2;
        color:#464646;
        width:98px;
        height:22px;
        transform:scaleY(1.0012); /* width and height properties ommitted due to transform */
    }
.td-button-secondary {
    background-color: white;
    background-image: none;
    border-color: #7f4c98 !important;
    color: #363636;
    /*font-size: 18px;*/ /* Approximation due to font substitution */
    transform: scaleY(1.0002); /* width and height properties ommitted due to transform */
    border-style: solid;
}
    .td-button-secondary:focus {
        border-width: 1px;
        border-color: #70547d !important;
        border-style: solid;
        background-color: #ffffff;
        box-shadow: 0px 0px 0.85px 4.15px #4297fe;
        outline: none;
    }
    .td-button-secondary:active {
        background-color:#005ac6;
        outline:none;
    }
    .td-button-secondary:hover {
        text-decoration:underline !important;
        background-color:#f5f5f5 !important;
        border-color:#95799f !important;
        transform:scaleY(1.0001); /* width and height properties ommitted due to transform */
    }
    .td-button-secondary.td-active {
        background-color:#005ac6;
    }
        .td-button-secondary.td-active:hover {
            border-width:1px;
            border-color:#4297fe;
            border-style:solid;
            background-color:#4297fe;
            width:163px;
            height:36px;
            outline:none;
        }
    .td-button-secondary:disabled {
        border-width:1px;
        border-color:#e2e2e2;
        border-style:solid;
        background-color:#e2e2e2;
        color:#464646;
        width:163px;
        height:36px;
        transform:scaleY(1.0012); /* width and height properties ommitted due to transform */
    }
.td-logo {
    position: relative;
    float: left;
    width: 229px;
    height: 34px;
    background-image: url('../images/logo1.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: default;
    display: none;
    margin-top: 20px;
    margin-left: 22px;
}
.td-sticky-footer-item-img{
    background-image:url('../images/tools1.png');
    background-repeat:no-repeat;
    background-size:initial;
    height:35px;
    width:40px;
    margin:8px auto;
}

.td-tts-expanded {
    min-height:226px;
}
.td-tts-active {
    background-color:#4297fe;
}
.td-tts-toolbox {
    position:absolute;
    width:154px;
    height:63px;
    background-color:#344759;
    box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.79);
    z-index:100;
    display:none;
    cursor:initial;
    overflow:hidden;
}
    .td-tts-toolbox .td-tts-header {
        position:relative;
        height:19px;
        overflow:hidden;
        background-color:#112131;
        border:thin none transparent;
        cursor:pointer;
    }
        .td-tts-toolbox .td-tts-header .td-tts-header-handle {
            position:relative;
            width:20px;
            height:20px;
            margin:0 auto;
            background-image:url('../images/tts.png');
            background-position:-64px -114px;
            background-size:initial;
            background-repeat:no-repeat;
            cursor:move;
        }
    .td-tts-toolbox .td-tts-controls {
        position:relative;
        overflow:hidden;
        height:45.49px;
    }
        .td-tts-toolbox .td-tts-controls .td-tts-control {
            position:relative;
            float:left;
            margin-top:3px;
            margin-left:4px;
            margin-right:0;
            margin-bottom:0;
            width:46px;
            height:43px;
            background-color:transparent;
            overflow:hidden;
            cursor:pointer;
            outline:none;
        }
            .td-tts-toolbox .td-tts-controls .td-tts-control:focus {
                box-shadow:0 0 8px 2px #4297fe;
                outline:none;
            }
            .td-tts-toolbox .td-tts-controls .td-tts-control:hover {
                background-color:#005ac6;
            }
            .td-tts-toolbox .td-tts-controls .td-tts-control .td-tts-control-handle {
                position:relative;
                width:26px;
                height:24px;
                margin:10px auto;
                background-image:url('../images/tts.png');
                background-size:initial;
                background-repeat:no-repeat;
            }
                .td-tts-toolbox .td-tts-controls .td-tts-control#ttsPlayId .td-tts-control-handle {
                    background-position:-11px -14px;
                }
                    .td-tts-toolbox .td-tts-controls .td-tts-control#ttsPlayId .td-tts-control-handle:hover {
                        background-position:-11px -65px;
                    }
                .td-tts-toolbox .td-tts-controls .td-tts-control#ttsPlayId .td-tts-control-handle.td-tts-control-paused {
                    background-position:-156px -14px;
                }
                    .td-tts-toolbox .td-tts-controls .td-tts-control#ttsPlayId .td-tts-control-handle.td-tts-control-paused:hover {
                        background-position:-156px -65px;
                    }
                .td-tts-toolbox .td-tts-controls .td-tts-control#ttsStopId .td-tts-control-handle {
                    background-position:-59px -14px;
                }
                    .td-tts-toolbox .td-tts-controls .td-tts-control#ttsStopId .td-tts-control-handle:hover {
                        background-position:-59px -65px;
                    }
                    .td-tts-toolbox .td-tts-controls .td-tts-control#ttsStopId .td-tts-control-handle.td-tts-disabled {
                        background-position:-199px -65px;
                    }
                .td-tts-toolbox .td-tts-controls .td-tts-control#ttsSettingsId .td-tts-control-handle {
                    background-position:-108px -14px;
                }
                    .td-tts-toolbox .td-tts-controls .td-tts-control#ttsSettingsId .td-tts-control-handle:hover {
                        background-position:-108px -65px;
                    }
                .td-tts-toolbox .td-tts-controls .td-tts-control.td-tts-active#ttsSettingsId {
                    background-image:url('../images/tts.png');
                    background-size:initial;
                    background-repeat:no-repeat;
                    background-color:transparent;
                    background-position:-4px -88px;
                }
                    .td-tts-toolbox .td-tts-controls .td-tts-control.td-tts-active#ttsSettingsId:hover {
                        background-color:#4297fe;
                    }
    .td-tts-toolbox .td-tts-settings {
        position:relative;
        overflow:hidden;
        box-shadow:0 1px 3px 0px rgba(0, 0, 0, 0.79);
        color:white;
        font-family:'Open Sans Condensed', sans-serif;
        font-weight:700;
        font-size:13px;
        height:163px;    
        outline:none;
    }
        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed {
            position:relative;
            height:81px;
            background-color:#005ac6;
        }
            .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-heading {
                padding-top:8px;
                width:100%;
                text-align:center;
            }
            .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons {
                overflow:hidden;
            }
                .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container {
                    width:19px;
                    height:19px;
                    overflow:hidden;
                    background-color:transparent;
                    margin:3px;
                    padding:7px 0 0 7px;
                    border:thin solid transparent;
                }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container .td-tts-settings-speed-radio {
                        position:relative;
                        width:7px;
                        height:7px;
                        overflow:hidden;
                        border:2px solid white;
                        border-radius:5px;
                        background-color:#005ac6;
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container .td-tts-settings-speed-radio:active {
                            background-color:white;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container .td-tts-settings-speed-radio.td-tts-active {
                            background-color:white;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container .td-tts-settings-speed-radio:hover {
                            background-color:#4297fe;
                        }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsSlowId {
                        position:absolute;
                        left:16px;
                        top:25px;
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsSlowId:focus {
                            box-shadow:0 0 2px 2px white;
                            outline:none;
                        }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsMediumId {
                        position:absolute;
                        left:62px;
                        top:25px;
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsMediumId:focus {
                            box-shadow:0 0 2px 2px white;
                            outline:none;
                        }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsFastId {
                        position:absolute;
                        right:16px;
                        top:25px;
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-radio-container#ttsFastId:focus {
                            box-shadow:0 0 2px 2px white;
                            outline:none;
                        }
                .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-buttons .td-tts-settings-speed-slider {
                    position:absolute;
                    top:41px;
                    left:30px;
                    width:90px;
                    height:0;
                    border:thin solid #112131;
                }
            .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles {
                font-family:'Open Sans', sans-serif;
                font-weight:400;
                font-size:11px;
                width:74%;
                margin:24px auto;
                white-space:nowrap;
                overflow:visible;
            }
                .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles .td-tts-settings-speed-title {
                    display:inline-block;
                    color:transparent;
                }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles .td-tts-settings-speed-title.td-tts-speed-slow {
                        width:29.9%;
                        text-align:left;
                    }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles .td-tts-settings-speed-title.td-tts-speed-medium {
                        width:40%;
                        text-align:center;
                    }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles .td-tts-settings-speed-title.td-tts-speed-fast {
                        width:22.9%;
                        text-align:right;
                    }

                .td-tts-toolbox .td-tts-settings .td-tts-settings-speed .td-tts-settings-speed-titles .td-tts-settings-speed-title.td-tts-settings-speed-title-visible {
                    color:#fff;
                }

        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice { 
            position:relative;
            margin-top:1px;
            height:81px;
            background-color:#005ac6;
        }
            .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-heading {
                padding-top:8px;
                width:100%;
                text-align:center;
            }
            .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons {
                font-family:'Open Sans', sans-serif;
                font-weight:400;
                font-size:11px;
                overflow:hidden;
            }
                .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container {
                    width:48px;
                    height:20px;
                    overflow:hidden;
                    background-color:transparent;
                    margin:15px 3px 6px 3px;
                    padding:24px 0 0 0;
                    text-align:center;
                    border-bottom:6px solid transparent;
                    background-image:url('../images/tts.png');
                    background-size:initial;
                    background-repeat:no-repeat;
                    outline:none;
                }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsTomId {
                        position:absolute;
                        left:16px;
                        top:12px;
                        background-position:-1px -159px; /* -14px -159px; */
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsTomId:active {
                            border-bottom:6px solid #fff;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsTomId.td-tts-active {
                            border-bottom:6px solid #fff;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsTomId:focus {
                            box-shadow:0 0 2px 2px white;
                            outline:none;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsTomId:hover {
                            border-bottom:6px solid #4297fe;
                        }
                    .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsEvaId {
                        position:absolute;
                        left:80px;
                        top:12px;
                        background-position:-70px -159px; /* -67px -159px; */
                    }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsEvaId:active {
                            border-bottom:6px solid #fff;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsEvaId.td-tts-active {
                            border-bottom:6px solid #fff;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsEvaId:focus {
                            box-shadow:0 0 2px 2px white;
                            outline:none;
                        }
                        .td-tts-toolbox .td-tts-settings .td-tts-settings-voice .td-tts-settings-voice-buttons .td-tts-settings-voice-container#ttsEvaId:hover {
                            border-bottom:6px solid #4297fe;
                        }
