﻿html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family:'Open Sans', sans-serif;
    font-size:18pt;
	font-size:100%;
}
body {
	background-color:transparent;
	color:black;
    font-size:1em;
}
h1.td-heading, h2.td-heading, h3.td-heading, h4.td-heading  {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:bold;
}
h1.td-heading {
    font-size:32px;
    text-align:center;
    color:#454545;
}
h2.td-heading {
    font-size:26px;
}
h3.td-heading {
    font-size:20px;
}
h4.td-heading {
    font-size:16px;
}

.td-body{
    font-size:16px;
    font-weight:400;
    color:#454545;
}

.td-header-light {
    background-color:transparent;
    color:black;
}

.td-header-heading {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:16px; /* Approximation due to font substitution */
    font-weight:700;
    text-align:left;
}
.td-header-text {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:12px; /* Approximation due to font substitution */
    font-weight:400;
    text-align:left;
}

.td-control {
}
            
.td-button {
    outline:none;
    border-style:none;
    font-family:'Open Sans', sans-serif;
    text-align:center;
}
.td-button-small {
    border-radius:12px;
    font-size:12px;
    width:100px;
    height:24px;
    border-width:1px;
    font-weight:400;
}
.td-button-large {
    border-radius:19px;
    font-size:18px;
    width:165px;
    height:38px;
    border-width:1px;
    font-weight: 700;
    margin:0 5px;
}

    /*///////////////*/

#content {
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	font-size:1em;
    /*line-height:110%;*/
}
.td-container {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
}
.td-login {
	position:relative;
	margin:0 auto;
	padding:0;
	width:100%; /* 1280px; */
	height:100%;
	background-color:transparent;
	border:1px none cyan;
	overflow:hidden;
    display:none;
}
.td-sticky-header-wrapper {
	position:relative;
	width:100%;
	overflow:visible;
	border-bottom:thin none rgb(137, 128, 121);
    display:none;
    height:78px;
}
.td-sticky-header {
	position:relative;
    min-width:1024px;
    max-width:1440px;
    height:100%;
	/*overflow:visible;*/
    overflow:hidden;
    margin:0 auto;
}

.td-notifications {
    position:absolute;
    left:0;
    top:0;
    right:0;
    /*bottom:0;*/
    /*background-color:rgba(0, 0, 0, 0.2);*/
    /*z-index:20;*/
    pointer-events:all;
    display:none;
}
.td-notification-area {
    position:absolute;
    left:0;
    right:0;
    line-height:21px;
    text-align:center;
    color:#882522;
    word-wrap:break-word;
    white-space:normal;
	overflow: hidden;
    display:none;
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    font-weight:700;
    min-height:55px;
}
.td-notification-area li{
    list-style-position:inside;
}
.td-notification-info {
    background-color:rgba(230, 234, 254, 1.0);
    border:thin solid blue;
}
.td-notification-success {
    background-color:rgba(230, 254, 234, 1.0);
    border:thin solid green;
}
.td-notification-warning {
    background-color:rgba(254, 251, 230, 1.0);
    border:thin solid orange;
}
.td-notification-error {
    background-color:#fedcd8;
    /*background-color:rgba(254, 234, 230, 1.0);
    border:thin solid red;*/
}
.td-notification-error-btn-frame{
    position:absolute;
    right:15px;
    top:0;
    width:40.5px;
    height:40.5px;
    float:right;
    margin-top:7px;
    margin-right:9px;
    cursor:auto;
}
    .td-notification-error-btn-frame:focus{
            box-shadow: 0 0 0.85px 4.15px #4297fe;
            outline:none;
        }
.td-notification-error-btn {
    /*position:absolute;
    right:15px;
    top:12px;
    width:25px;
    height:25px;
    cursor:pointer;
    background-image: url('../images/errclose.png');
    background-repeat: no-repeat;*/
    width:40px;
    height:40px;
    background-image:url('../images/errclose.png');
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:32px;
    background-position: 7.5px 7.5px;
    background-size:25px;
}

    .td-notification-error-btn:hover{
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.4);
    }

    .td-notification-error-btn:active{
        border-radius: 50%;
        background-color:rgba(136, 37, 34, 0.1);
        outline:none;
    }

.td-scroll{
    position:absolute;
    left:0;
    right:0;
    top:80px;
    bottom:0;
    overflow-y:auto;
    padding-top:48px;
}
.td-welcome {
	/*position:relative;*/
	width:100%;
    border-style:none;
    background-color:transparent;
    color:rgb(0,0,0);
	display:none;
    /*margin-top:48px;*/
}
.td-welcome label {
    display:block;
    font-size:16px;
    font-weight:normal;
    color:#454545;
    margin:8px 0 16px;
}

.td-welcome select, .td-input{
    font-size:14px;
    font-family:Verdana;
    font-weight:normal;
    line-height:20px;
    color:#464646;
    padding: 8px 16px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #6f7e95;
}

.td-safari-select{
    line-height:30px !important;
    text-indent:10px;
}

.td-confirm-student {
	/*position:relative;*/
	width:100%;
    border-style:none;
    background-color:transparent;
    color:rgb(0,0,0);
	display:none;
}
.td-confirm-test {
	/*position:relative;*/
	width:100%;
    border-style:none;
    background-color:transparent;
    color:rgb(0,0,0);
	display:none;
}

.td-test-background-box{
    background-color:#f3f2f2; 
    border-radius:2px;
    width:393px;
    min-height:179px;
    margin:auto;
    padding:10px;
}

.td-test-student-img-frame{
    border-radius:50%;
    background-color:#c1c1c1;
    width:68px;
    height:68px;
    margin:auto;
}

.td-confirm-test-img{
    background-image: url('../images/test.png');
    background-repeat: no-repeat;
    background-position: 18px 23px;
    overflow: hidden;
    width: 68px;
    height: 68px;
    zoom:90%;
}

.td-confirm-student-img{
    background-image: url('../images/avatar.png');
    background-repeat: no-repeat;
    background-position: 18px 14px;
    overflow: hidden;
    width: 68px;
    height: 68px;
}

.td-start-test {
	position:relative;
	margin:0 auto;
	padding:0;
	width:100%; /* 1280px; */
	height:100%;
	background-color:transparent;
	border:1px none cyan;
	overflow-x:hidden;
    display:none;
}

.td-test-info-body{
    width:50%;
    min-width:360px;
    margin:0 auto 15px;
    text-align:center;
}

.td-test-info-summarybody{
    width:360px;
    height:190px;
    color:#454545;
    font-weight:700;
    text-align:center;
    word-wrap:break-word;
    white-space:normal;
    margin:auto;
}

.td-test-summary{
    height: 160px;
    margin: 15px 5px 15px 0;
    width: 170px;
    float: left;
    background-color: #f3f2f2;
    border-radius:2px;
}

.td-instructions {
    text-align:justify; 
    text-justify:auto;
}
.td-flag {
    position:absolute;
    bottom:0;
    right:64px;
    width:38px;
    height:54px;
    border:thin none transparent;
    background-color:transparent;
    background-image:url('../images/flag.png');
    background-repeat:no-repeat;
    background-position: 0 0; /* x: -44px for flagged */
    z-index:10;
    margin-bottom:-54px;
    cursor:pointer;
    display:none;
}
.td-candidate-info {
    position:absolute;
    left:41px;
    top:14px;
    overflow:visible;
    background-color:transparent;
    font-weight:700;
    margin:0;
}
.td-save-exit {
    position:absolute;
    left:39px;
    top:38px;
    overflow:visible;
    background-color:transparent;
    margin:0;
    display:none;
}
.td-clock {
    overflow:visible;
    background-color:transparent;
    display:none;
}
.td-tally {
    position:absolute;
    right:41px;
    top:14px;
    width:240px;
    text-align:left;
    overflow:visible;
    background-color:transparent;
    margin:0;
}
    .td-tally .td-tally-header {
        position:absolute;
        left:0;
        top:0;
        font-family:'Open Sans Condensed', sans-serif;
        font-weight:700;
        font-size:1em;
    }
    .td-tally .td-tally-body {
        position:absolute;
        left:0;
        top:23px;
        font-family:'Open Sans', sans-serif;
        font-weight:normal;
        font-size:0.8em;
    }
.td-review-link {
    position:absolute;
    right:0;
    bottom:0;
    overflow:visible;
    background-color:transparent;
    margin:0 16px 8px 0;
}
.td-save-submit {
    text-align:center;
    display:none;
    overflow-x:hidden;
    padding-bottom:15px;
}

.td-save-submit-logo{
    border-radius:50%;
    background-color:#f6f8ee;
    width:147px;
    height:147px;
    margin:auto;
}

.td-save-logo{
    background-image: url('../images/save.png');
    background-repeat: no-repeat;
    background-position:24px 42px;
    overflow: hidden;
    width:147px;
    height:147px;
}

.td-cancel-logo{
    background-image: url('../images/cancel.png');
    background-repeat: no-repeat;
    background-position:37px 34px;
    overflow: hidden;
    width:147px;
    height:147px;
}

.td-cancel-background-color{
    background-color:#f5f5f5;
}

.td-submit-logo{
    background-image: url('../images/submit.png');
    background-repeat: no-repeat;
    background-position:34px 37px; 
    overflow: hidden;
    width:147px;
    height:147px;
}

.td-go-back-dlg-button {
}
.td-save-and-exit {
}
.td-dlg-button {
    margin:0 16px;
    display: inline-block;
    border: thin solid blue;
    background: none !important;
    border-radius: 8px;
    outline: none;
    width: 140px;
    align-items: center; 
}

.td-dlg-button:focus {
    box-shadow:0 0 3px 1px blue;
    background: blue !important;
    color: white !important;
    outline:none;
}

.td-spinner {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:rgba(192,192,192,.5);
    display:none;
    z-index:30;
}


.td-navigation {
    position:absolute; 
    top:50%;
    width:70px;
    height:70px; 
    padding:0;
    margin:0;
    background-image:url('../images/nav.png');
    background-repeat:no-repeat;
    transform:translate(0, -35px);
    cursor:pointer;
    z-index:10;
    display:none;
}

.td-navigation:focus{
     box-shadow: 0 0 0.85px 4.15px #4297fe;
     outline:none;
}

.td-navigation-next {
    background-position:-1px -87px;
    right:32px; 
}
.td-navigation-next:hover {
    background-position:-89px -87px;
}
.td-navigation-next:active {
    background-position:-177px -87px;
}
.td-navigation-prev {
    background-position:-1px -2px;
    left:32px; 
}
.td-navigation-prev:hover {
    background-position:-89px -2px;
}
.td-navigation-prev:active {
    background-position:-177px -2px;
}

.td-item-interaction-container {
    position:absolute;
    margin:1px 0 0 0;
    padding:0;
    top:0;
    left:0;
    right:0;
    bottom:96px; /*0; Empiric, fix it */
    background-color:transparent;
    border:thin none transparent;
    display:none;
    /*overflow:auto;
    overflow-x:hidden;*/
    overflow-y:auto;
}
.td-item-interaction {
    position:relative;
    margin:0 auto 0 auto; /* 38px auto;*/
    padding:0;
    /*max-width:1024px;
    min-width:1024px;*/
    width:1280px;
    /*height:98%;*/
    /*min-height:480px;*/
    border:thin none red;
    background-color:transparent;
    overflow:hidden; /* scroll; */
    display:block;
}

/*TR sticky footer begin*/
.td-sticky-footer-wrapper {
    position: fixed;
    /*height:95px;*/ /* 115 with sb; 95px; */
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    margin:0;
    padding:0;
    border:thin none gray;
    background-color:#e2e2e2;
    display:none;
}
.td-sticky-footer-divider {
    width:100%;
    height:1px;
    overflow:hidden;
    background-color:#f3f2f2;
    margin-top:1px;
    /*box-shadow:0 -2px 0 .5px white;
    margin-bottom:10px;*/
}
.td-sticky-footer {
    position:relative;
    min-width:256px;
    max-width:1440px;
    height:100%;
    margin:0 auto;
    padding:5px 0 0 0;
    overflow-y:hidden;
    overflow-x:auto;
    border:thin none red;
    background-color:transparent;
    white-space:nowrap;
    text-align:center;
}
.td-sticky-footer-item {
    display: inline-table;
    margin:0 2px;
    padding:0;
    width: 77px;
    height: 82px;
    background-color:#f3f2f2;
    border-bottom:6px solid #f3f2f2;
    /*vertical-align:top;*/
    outline:none;
    /*position:center;*/
}
    .td-sticky-footer-item:focus{
        box-shadow:0 0 4px 2px #4297fe; /*0 0 0.85px 4.15px #4297fe;*/
        outline:none;
    }
    .td-sticky-footer-item:active {   
        background-color:#fff;
        border-color:#005ac6;
        outline:none;
    }
    .td-sticky-footer-item:hover {   
        background-color:#f3f2f2;
        border-color:#a0a0a0;
    }
    .td-sticky-footer-item.td-tool-active{
        background-color:white;
        border-color:#005ac6;
    }
    .td-sticky-footer-item.td-tool-active:hover{
        background-color:white;
        border-color:#a0a0a0;
        outline:none;
    }
.td-sticky-footer-item-disable{
    background-color:  #e6e6e6;
    display: inline-table;
    margin:0 2px;
    padding:0;
    width: 77px;
    height: 82px;
    outline:none;
}

.td-sticky-footer-disable-icon{
    position:absolute;
    top:0;
    bottom:0;
    background-color:rgba(232,232,232,0.7);
    width: 77px;
    height: 89px;
    margin-top:4px;
    margin-bottom:0;
}
.td-sticky-footer-item-text {
    font-family:'Open Sans Condensed', sans-serif;
    font-weight:700;
    font-size:0.9em; /* 0.661rem Approximation due to font substitution */
    color:#454545;
    line-height:1.008; /* Approximation due to font substitution */
    text-align:center;
    transform:scaleY(1.0085); /* width and height properties ommitted due to transform */
    max-width:45px;
    margin:0 auto;
    word-wrap:break-word;
    white-space:normal;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: gray; /* Line color */
  height: 95%; /* Override in-line if you want specific height. */
  display: inline-block;
  /*  float: left;Causes the line to float to left of content. */
}

/*TR sticky footer end*/

/*TR Text to speech*/
.media-btn {
    /*display:inline-block;
    margin:8px 8px 8px 0;
    width:70px; 
    height:70px; 
    border:thin none black; 
    border-radius:50%; 
    background-image:url('../images/play-stop-pause.jpg');
    background-repeat:no-repeat;*/
    cursor:pointer;
}

.media-play {
     /*background-position:-20px -17px;*/
}

.media-stop {
    /* background-position:-95px -17px;*/
}

.media-pause {
     /*background-position:-169px -17px;*/
}

.media-disabled {
    cursor:not-allowed;
}

.td-tts {
    width: 90%;
    height: 80px;
    position: fixed;
    bottom: 102px;
    left: 0;
    right: 0;
    display: inline-block;
    white-space: nowrap;
    margin: auto;
    background-color:rgba(255,255,255,.55);
}

.unselectable {
    /*-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;*/
}

.centered {
    position:absolute; 
    top:50%;
    left:50%;
    width:100px;
    height:32px; 
    line-height:32px;
    text-align:center;
    transform:translate(-50px, -16px);
}

.box {
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    animation:spinner 2s steps(36) infinite; 
    -webkit-animation:spinner 2s steps(36) infinite; 
}

@keyframes spinner {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
}

.td-visible-element {
    display:inline-block;
}

.td-hidden-element {
    display:none;
}

/****************************************************/
.td-submit {
    margin-top: 48px;
    padding:4px 16px;
    border-radius:6px;
    height:48px;
    width: 128px;
    background-color:blue;
    color: white;
    font-size:1.3em;
    font-weight:bold;
    /*outline:invert none medium;*/
}
.td-submit:focus {
    outline:none;
     /*outline:invert solid medium;*/
}

.td-ttstoolbox-container{
    position:absolute;
    border:none;
    left:0;
    right:0;
    background-color:transparent;
    z-index:100;
    pointer-events:none;
    display:none;
}

.closeButton{
    width:40px;
    height:40px;
    background-image:url('../images/close.png');
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:32px;
    background-position: 5px 8px;
}

    .closeButton:hover{
        border-radius: 50%;
        background-color: #44596f;
    }

    .closeButton:active{
        border-radius: 50%;
        background-color: #112131;
        outline:none;
    }

.closeBtnFrame{
    width:40.5px;
    height:40.5px;
    float:right;
    margin-top:7px;
    margin-right:9px;
    cursor:auto;
}

    .closeBtnFrame:focus{
        box-shadow: 0 0 0.85px 4.15px #4297fe;
        outline:none;
    }

.td-notificationdialog-divider{
    height:1px;
    overflow:hidden;
    background-color:#d8d8d8;
    margin-top:1px;
    margin-left:25px;
    margin-right:25px;
    width:343px;
}

#gpd.ui-dialog-content.ui-widget-content{
    border-bottom: 1px;
    border-bottom-color:#d8d8d8;
    border-bottom-style:solid;
    margin-left:25px;
    margin-right:25px;
    padding:30px 0 30px;
}


.td-overlay{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgb(234,231,238);
    overflow-y:auto; 
}

.td-scorereport-container{
    position:relative;
    margin:32px auto;
    /*border:thin solid black;*/
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.46);
    border-radius:2px;
    max-width:900px;
    min-width:580px;
    background-color:#fff;
    color: #464646;
}

.td-scorereport-body{
    padding: 0 25px 25px 25px;
    margin:0 25px 25px;
}

.td-scorereport-titlebar{
    background-color: #344759;
    border-width:0;
    height:55px;
    color:#f3f2f2;
    text-align:left;
    padding:0 0 0 25px;
    line-height:55px;
    margin-top:0;
    border-radius:2px;
    margin-bottom:30px;
}

.td-scorereport-buttonpane{
    padding-left:25px;
}

.td-scorereport-header{
    padding:0 0 0 25px;
}

.td-scorereport-header-heading{
    font-family:Verdana;
    font-size:16px; /* Approximation due to font substitution */
    font-weight:400;
    text-align:left;
    line-height:24px;
}

.td-scorereport-header-title{
    margin-bottom:0;
    margin-top:25px;
    text-align:left !important;
}

.td-scorereport-divider{
    margin:25px 35px 0;
    height:1px;
    overflow:hidden;
    background-color:#d8d8d8;
}

.td-scorereport-section{
    margin-top:25px;
}

.td-scorereport-summarybody{
    background-color:#f3f2f2;
    width:100%;
    height:190px;
    color:#454545;
    font-weight:700;
    text-align:center;
    font-size:14px;
    min-width:480px;
    word-wrap:break-word;
    white-space:normal;
}

.summary-primary{
    background-color:#72547d;
    height:190px;
    width:24.75%;
    float:left;
    font-size:16px;
    color:#fff;
}

.td-summary-big{
    font-size:78px; 
    padding-top:15px; 
    font-weight:400;
}

.summary-secondary{
    height:160px;
    margin:15px 0 15px 0;
    border-right:1px solid;
    border-color:#e2e2e2;
    width:24.75%;
    float:left;
}

.td-summary-middle {
    font-size: 58px;
    padding-top: 15px;
    font-weight: 400;
}

.summary-secondary1{
    height:100%;
    margin:15px 0 15px 0;
    width:24.75%;
    float:left;
}

.td-summary-small {
    font-size: 35px;
    padding-top: 56.5px;
    padding-bottom:5px;
    font-weight: 400;
}

.td-summary-center{
    width:80px;
    margin:auto;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight:700;
}

.td-table table, .td-table tr{
    border:thin solid rgba(111,126,149,0.25);
}

table.td-table{
    /*color: #464646;*/
    background-color:#fff;
    border-collapse:collapse;
    text-align:center;
    word-wrap:break-word;
    white-space:normal;
}

.td-table tr{
    height:42px;
}

.td-table th{
    background-color:rgb(111,126,149);
    text-align:center;
    font-weight:bold;
    padding:0 20px;
    color:#fff;
}

.td-table th.td-left{
    text-align:left;
}

.td-table td{
    background-color:transparent;
    text-align:center;
    font-weight:normal;
    padding:0 20px;
}

.td-table td.td-left{
    text-align:left;
}

.td-sc-section {
    margin: 0;
    margin-bottom: 10px;
}

.td-sc-paragraf{
    margin:0;
}

.td-error{
    box-shadow:0 0 0 2px #882522;
    background-color:rgba(254, 220, 216, 0.3);
    border:none;
}

.td-error-safari{
    border-color:#882522 !important;
    border-style:groove;
    background-color:rgba(254, 220, 216, 0.3);
}

.td-error-link{
    margin-left:8px; 
    cursor:pointer;
    color:#112131;
    text-decoration:underline;
    display:inline;
}



.td-spinner-img { 
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    animation:spinner 2s steps(36) infinite; 
    -webkit-animation:spinner 2s steps(36) infinite;
    width:200px;
    height:200px;

}

@media print {
    body * {
        visibility: hidden;
    }
    #divScoreReportContent, #divScoreReportContent * {
        visibility: visible;
    }
    div.td-scorereport-titlebar {
        display: none;
    }
    div.td-scorereport-buttonpane {
        display: none;
    }
    div.td-save-submit {
        display: none !important;
    }
    .td-sticky-header-wrapper {
        display: none !important;
    }
    .td-overlay {
        overflow-x: visible;
        overflow-y: visible;
        background-color: transparent;
        position: relative !important;
    }
    .td-scorereport-container {
        margin: 0;
        width: 7.5in;
        position: relative !important;
    }
    #divScoreReportContent {
        margin: 5px;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.46);
    }
    .td-container {
        overflow: visible;
    }
    #content {
        height: 95%;
    }
    div#content {
        overflow: visible;
    }
}
