#sts-parccAnswerMasking .sts-launch-button.active {
    border-style:inset;
}
.masking-choice-wrap {
    cursor: auto !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 40px;
    left: initial;
    background: transparent;
}
.masked-choice .masking-choice-wrap {
    background: #e0e0e0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.masked-choice:last-child .masking-choice-wrap {
    border-bottom: none;
}
.item-editor-item .masking-choice-wrap {
    border-top : none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}
.masking-choice-wrap .mask-toggle {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    z-index: 20;
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: 16px;
}
.masking-choice-wrap .mask-toggle:hover {
    color: #0e5d91;
}
.qti-item .masking-choice-wrap .mask-toggle:before {
    content: "\e643";
}
.qti-item .masked-choice .masking-choice-wrap .mask-toggle:before {
    content: "\e631";
} 